apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "trino.coordinator" . }}
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: coordinator
data:
  node.properties: |
    node.environment={{ .Values.config.general.node.environment }}
    node.data-dir={{ .Values.config.general.node.dataDir }}
    plugin.dir={{ .Values.config.general.node.pluginDir }}

  jvm.config: |
    -server
    -Xmx{{ .Values.config.coordinator.jvm.maxHeapSize }}
    -XX:+{{ .Values.config.coordinator.jvm.gcMethod.type }}
    -XX:G1HeapRegionSize={{ .Values.config.coordinator.jvm.gcMethod.g1.heapRegionSize }}
    -XX:+UseGCOverheadLimit
    -XX:+ExplicitGCInvokesConcurrent
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:+ExitOnOutOfMemoryError
    -Djdk.attach.allowAttachSelf=true
{{ .Values.config.coordinator.jvmExtraConfig | indent 4 }}

  config.properties: |
    coordinator=true
{{- if gt (int .Values.config.worker.replicas) 0 }}
    node-scheduler.include-coordinator=false
{{- else }}
    node-scheduler.include-coordinator=true
{{- end }}
    http-server.http.port={{ .Values.config.general.http.port }}
{{- if .Values.config.general.processForwarded }}
    http-server.process-forwarded={{ .Values.config.general.processForwarded }}
{{- end }}
{{- if .Values.config.general.authenticationType }}
    http-server.authentication.type={{ .Values.config.general.authenticationType }}
{{- end }}
    query.max-memory={{ .Values.config.general.query.maxMemory }}
    query.max-memory-per-node={{ .Values.config.general.query.maxMemoryPerNode }}
    query.max-total-memory={{ .Values.config.general.query.maxTotalMemory }}
    discovery.uri=http://localhost:{{ .Values.config.general.http.port }}
{{- if .Values.config.general.prestoCompatibleHeader }}
    protocol.v1.alternate-header-name=Presto
{{- end }}
{{- if .Values.config.general.httpsServer.enabled }}
    http-server.https.enabled=true
    http-server.https.port={{ .Values.config.general.httpsServer.port }}
    http-server.https.keystore.path={{ .Values.config.general.httpsServer.keystore.path }}
{{- end }}
{{- if .Values.config.general.internalCommunicationSharedSecret }}
    internal-communication.shared-secret={{ .Values.config.general.internalCommunicationSharedSecret }}
{{- end }}
{{ .Values.config.coordinator.extraConfig | indent 4 }}

  log.properties: |
    io.trino={{ .Values.config.general.log.trino.level }}

{{- if .Values.config.general.authenticationType }}{{- if eq .Values.config.general.authenticationType "PASSWORD" }}
  password-authenticator.properties: |
    password-authenticator.name=file
    file.password-file={{ .Values.config.general.path }}/auth/password.db
{{- end }}{{- end }}

{{- if .Values.accessControl }}{{- if .Values.accessControl.type }}
  access-control.properties: |
    access-control.name=file
    security.refresh-period={{ .Values.accessControl.refreshPeriod | default "1s" }}
    security.config-file={{ .Values.config.general.path }}/access-control/{{ .Values.accessControl.configFile | default "rules.json" }}
{{- end }}{{- end }}

{{- if .Values.resourceGroups }}{{- if .Values.resourceGroups.type }}
  resource-groups.properties: |
    resource-groups.configuration-manager=file
    resource-groups.config-file={{ .Values.config.general.path }}/resource-groups/{{ .Values.resourceGroups.configFile | default "resource-groups.json" }}
{{- end }}{{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: schemas-volume-coordinator
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: coordinator
data:
  {{- range $key, $val := .Values.schemas }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}

---

{{- if .Values.accessControl }}{{- if eq .Values.accessControl.type "configmap" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-access-control-volume-coordinator
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: coordinator
data:
  {{- range $key, $val := .Values.accessControl.rules }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
{{- end }}{{- end }}

---

{{- if .Values.resourceGroups }}{{- if eq .Values.resourceGroups.type "configmap" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-resource-groups-volume-coordinator
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: coordinator
data:
  {{- range $key, $val := .Values.resourceGroups.rules }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
{{- end }}{{- end }}

---
