{{- if gt (int .Values.config.worker.replicas) 0 }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "trino.worker" . }}
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
data:
  node.properties: |
    node.environment={{ .Values.config.general.node.environment }}
    node.data-dir={{ .Values.config.general.node.dataDir }}
    plugin.dir={{ .Values.config.general.node.pluginDir }}

  jvm.config: |
    -server
    -agentpath:/usr/lib/trino/bin/libjvmkill.so
    -XX:InitialRAMPercentage={{ .Values.config.worker.jvm.maxRAMPercentage }}
    -XX:MaxRAMPercentage={{ .Values.config.worker.jvm.maxRAMPercentage }}
    -XX:+{{ .Values.config.worker.jvm.gcMethod.type }}
    -XX:G1HeapRegionSize={{ .Values.config.worker.jvm.gcMethod.g1.heapRegionSize }}
{{- if .Values.jmxExporter.worker.enabled }}
    -javaagent:{{ .Values.jmxExporter.path }}/lib/{{ .Values.jmxExporter.jarfile }}={{ .Values.jmxExporter.port }}:{{ .Values.jmxExporter.path }}/etc/trino.yaml
{{- end }}
{{ .Values.config.worker.jvmExtraConfig | indent 4 }}

  config.properties: |
    coordinator=false
    http-server.http.port={{ .Values.config.general.http.port }}
    query.max-memory={{ .Values.config.general.query.maxMemory }}
    query.max-memory-per-node={{ .Values.config.worker.query.maxMemoryPerNode }}
    query.max-total-memory={{ .Values.config.general.query.maxTotalMemory }}
    discovery.uri=http://{{ template "trino.fullname" . }}:{{ .Values.config.general.http.port }}
{{- if .Values.config.general.prestoCompatibleHeader }}
    protocol.v1.alternate-header-name=Presto
{{- end }}
{{- if .Values.config.general.internalCommunicationSharedSecret }}
    internal-communication.shared-secret={{ .Values.config.general.internalCommunicationSharedSecret }}
{{- end }}
{{ .Values.config.worker.extraConfig | indent 4 }}

  log.properties: |
    io.trino={{ .Values.config.general.log.trino.level }}
  {{- range $package, $level := .Values.config.general.log.trino.extraLevels }}
    {{ $package }}={{ $level }}
  {{- end }}

{{- if .Values.faultTolerance.enabled }}{{- if not .Values.faultTolerance.configAsSecret }}
  exchange-manager.properties: |
    exchange-manager.name=filesystem
{{ .Values.faultTolerance.properties | indent 4 }}
{{- end }}{{- end }}

{{ if .Values.eventListenerProperties }}
  event-listener.properties: |
  {{- range $configValue := .Values.eventListenerProperties }}
    {{ $configValue }}
  {{- end }}
{{ end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "trino.worker" . }}-health-check
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
data:
  health_check.sh: |
    #!/bin/bash
    curl -H 'X-trino-User: healthCheck' -m 3 --silent {{ template "trino.fullname" . }}:{{ .Values.config.general.http.port }}/v1/info/state | grep --silent 'ACTIVE'
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "trino.fullname" . }}-schemas-volume-worker
  labels:
    {{- include "trino.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
data:
  {{- range $key, $val := .Values.schemas }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}

---
{{- end }}
